[submodule "protos"]
	path = protos
	url = git@github.com:boba-ps/boba-protos.git
[submodule "kcp"]
	path = kcp
	url = git@github.com:boba-ps/kcp-ts.git
[submodule "GenshinData"]
	path = GenshinData
	url = https://github.com/Dimbreath/GenshinData
